{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}

{% if category_posts %}

    <h1><strong class='badge badge-secondary'>{{ slug }}</strong> category:</h1>

    <ul style='list-style-type: none;'>
    {% for post in category_posts %}

        <li>
            <a href="{% url 'article_detail' post.pk %}" class="font-weight-bolder text-decoration-none">{{ post.title }}</a>
            - <strong>{{ post.author.first_name }}
            {{ post.author.last_name }}</strong> - 
            {{ post.post_date|date:"d. M Y, G:i" }} 

            {% if user.is_authenticated %}
                {% if user.id == post.author.id or user.id == 1 %}
                
                    - <small><a href="{% url 'update_post' post.pk %}" class="badge badge-info">Edit</a></small>
                    <small><a href="{% url 'delete_post' post.pk %}" class="badge badge-info">Delete</a></small>

                {% endif %}
            {% endif %}

            <br>
            {{ post.snippet }}
        </li>
        <hr>

    {% endfor %}

    </ul>

{% else %}

    <h2>No posts with this category.</h2>

{% endif %}

{% endblock content %}