{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id or user.id == 1 %}

        <h1>Delete Post...</h1>
        <br>
        <br>
        <h3>Delete: {{ post.title }}</h3>
        <br>
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong>
                <br><br>
                <button class="btn btn-secondary">Delete Post</button>
            </form>
        </div>

    {% else %}

        <H1>You are loged in as a wrong user.</H1>

    {% endif %}
{% else %}

    <H1>Please login first.</H1>

{% endif %}

{% endblock content %}