{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Change Password...</h1>
    <br><br>
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Change Password</button>
        </form>
    </div>
{% else %}

    <h1>You are not loged in.</h1>
    <a class="btn btn-dark" href="{% url 'login' %}">Login</a>

{% endif %}
{% endblock content %}